[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2.5"
django-crispy-forms = "==1.11.1"
environs = {version = "==9.3.2", extras = ["django"]}
psycopg2-binary = "==2.9.1"
whitenoise = "==5.3.0"
gunicorn = "==20.1.0"

[dev-packages]

[requires]
python_version = "3.9"
